# Initializing SQL Server.

In [1]:
!pip install sqlalchemy
!pip install ipython-sql
!pip install pymysql

Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.11/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy) (3.0.1)
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.2-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.25)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in ./anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.10.2-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.2/44.2 kB 4.2 MB/s eta 0:00:00
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.10.2 sqlparse-0.5.1
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+pymysql://linux:personallinux@0.0.0.0/my_database

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Load CSV file into a pandas DataFrame
df = pd.read_csv('VideoGameUsage_Profile.csv')

# Create a SQLAlchemy engine
engine = create_engine('mysql+pymysql://linux:personallinux@167.172.79.235/my_database')

# Import the DataFrame into the MySQL table
df.to_sql('my_table', con=engine, if_exists='append', index=False)

99

# Cleaning Up data

## Understanding the data

1. DESCRIBE my_table command is used to understand the structure of our dataset. It provides essential information about column names, data types, and constraints. This step is crucial for identifying potential data issues such as incorrect data types, unexpected NULL values, or missing columns. By examining this output, we can plan our data cleaning strategy more effectively, focusing on areas that require attention. This initial overview sets the foundation for subsequent cleaning steps and ensures we have a comprehensive understanding of our dataset before proceeding with more detailed operations.

In [ ]:
%sql DESCRIBE my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
7 rows affected.

[('Age', 'bigint', 'YES', '', None, ''),
 ('Gender', 'text', 'YES', '', None, ''),
 ('student', 'text', 'YES', '', None, ''),
 ('play_video_game', 'text', 'YES', '', None, ''),
 ('favorite_game', 'text', 'YES', '', None, ''),
 ('most_played_game', 'text', 'YES', '', None, ''),
 ('reason_of_play_game', 'text', 'YES', '', None, '')]

2. This SQL query selects the first 10 rows from the table to provide a quick overview of the data. This allows us to visually inspect the actual content of our dataset. By examining this sample, we can identify potential issues such as inconsistent formatting, missing values, or unexpected data entries. This preliminary look helps us formulate our data cleaning strategy, focusing on specific columns or data types that may require attention. It also gives us a sense of the variety and distribution of responses in our survey data.

In [ ]:
%sql SELECT * FROM my_table LIMIT 10;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
10 rows affected.

[(22, 'Male', 'Yes', 'Yes', 'FIFA 22', 'FIFA 22 ', 'competition'),
 (21, 'Male', 'Yes', 'Yes', 'Call of Duty', 'Call of Duty', 'entertainment'),
 (23, 'Male', 'Yes', 'Yes', 'GTA Vice City', 'GTA Vice City', 'entertainment'),
 (23, 'Male', 'Yes', 'sometimes', 'pubg', 'pubg', 'entertainment'),
 (23, 'Male', 'Yes', 'Yes', 'pubg', 'pubg', 'entertainment'),
 (23, 'Male', 'Yes', 'Yes', 'pubg', 'pubg', 'entertainment'),
 (23, 'Male', 'Yes', 'sometimes', 'GTA Vice City', 'GTA Vice City', 'entertainment'),
 (22, 'Male', 'Yes', 'Yes', 'Minecraft', 'Minecraft', 'entertainment'),
 (23, 'Male', 'No', 'Yes', 'Call of Duty', 'Call of Duty', 'entertainment'),
 (23, 'Male', 'Yes', 'Yes', 'FIFA 22', 'FIFA 22', 'entertainment')]

3. This SQL query checks for missing values in each dataset column by comparing total rows to non-null values. The output shows no missing values (all values are 0), indicating good data quality. However, this only identifies NULL values, not empty strings or placeholders, so further checks might be needed for complete data integrity.

In [ ]:
%%sql
SELECT 
    COUNT(*) - COUNT(Age) AS missing_age,
    COUNT(*) - COUNT(Gender) AS missing_gender,
    COUNT(*) - COUNT(Student) AS missing_student,
    COUNT(*) - COUNT(Play_Video_Game) AS missing_play_video_game,
    COUNT(*) - COUNT(Favorite_Game) AS missing_favorite_game,
    COUNT(*) - COUNT(Most_Played_Game) AS missing_most_played_game,
    COUNT(*) - COUNT(Reason_of_Play_Game) AS missing_reason_of_play_game
FROM my_table;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
1 rows affected.

[(0, 0, 0, 0, 0, 0, 0)]

4. This SQL query uses the TRIM function to remove leading and trailing spaces from all table columns. The output shows 99 rows affected, indicating some entries had unnecessary spaces. This cleaning step ensures consistency, especially for string columns, preventing incorrect grouping or analysis. The second execution resulted in 0 rows affected, confirming all spaces were removed in the first run, standardizing the data format and reducing error risk in analysis.

In [ ]:
%%sql
UPDATE my_table
SET 
    Age = TRIM(Age),
    Gender = TRIM(Gender),
    Student = TRIM(Student),
    Play_Video_Game = TRIM(Play_Video_Game),
    Favorite_Game = TRIM(Favorite_Game),
    Most_Played_Game = TRIM(Most_Played_Game),
    Reason_of_Play_Game = TRIM(Reason_of_Play_Game);

 * mysql+pymysql://linux:***@167.172.79.235/my_database
99 rows affected.
0 rows affected.

[]

## Clean Age Column

5. This SQL query identifies the maximum and minimum values in the Age column of the dataset. The output shows the oldest respondent is 27 and the youngest is 21. This narrow age range suggests the survey targeted a specific demographic, likely college students or young adults. This information is valuable for understanding the participants' age range and contextualizing the survey results, ensuring subsequent analysis considers the limited age distribution.

In [ ]:
%%sql
SELECT MAX(Age), MIN(Age)
From my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
1 rows affected.

[(27, 21)]

6. This SQL query retrieves the distinct (unique) values in the Age column of the dataset. The output shows that there are 7 distinct age values ranging from 21 to 27 years old. This information further confirms and elaborates on our previous findings about the age range of the survey participants. This distribution suggests a continuous range of ages without any gaps, which is a good sign for data quality. It also reinforces the observation that the survey likely targeted young adults, possibly in a university or early career setting. This information is valuable for understanding the demographic profile of the respondents and can guide how we interpret the survey results, especially when analyzing age-related trends in video game preferences or habits.

In [ ]:
%%sql
SELECT DISTINCT Age
FROM my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
7 rows affected.

[(22,), (21,), (23,), (24,), (25,), (26,), (27,)]

## Clean Gender Column

7. You executed a SQL query to display distinct values in the Gender column, revealing a data quality issue with the misspelling of "Female" as "Femal". This step is crucial in data cleaning, helping identify inconsistencies or errors in categorical data.

In [ ]:
%%sql
SELECT DISTINCT Gender
FROM my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
2 rows affected.

[('Male',), ('Femal',)]

8. I executed an SQL UPDATE statement to fix the typo in the Gender column. I changed all instances of "Femal" to "Female" in my_table. This corrects the data quality issue I found earlier, ensuring the Gender column now has only correct spellings. By doing this, I've improved the accuracy and consistency of my dataset, which will help me perform more reliable analyses going forward.

In [ ]:
%%sql
UPDATE my_table
SET Gender = 'Female'
WHERE Gender = 'Femal';

 * mysql+pymysql://linux:***@167.172.79.235/my_database
7 rows affected.
0 rows affected.

[]

## Clean Student Column

9. I ran a SQL query to check the distinct values in the 'student' column of my_table. The output shows that there are only two unique values: "Yes" and "No". This indicates that the 'student' column is a binary categorical variable, likely representing whether each respondent is a student or not. This information is useful for understanding the structure of my data and could be valuable for future analyses, especially if I want to compare responses between students and non-students.

In [ ]:
%%sql
SELECT DISTINCT student
FROM my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
2 rows affected.

[('Yes',), ('No',)]

## Clean play_video_game column

10. I executed a SQL query to examine the distinct values in the 'play_video_game' column of my_table. The output revealed three unique responses: "Yes", "sometimes", and "No". This tells me that the 'play_video_game' column is a categorical variable with three levels, indicating varying frequencies of video game play among respondents.

In [ ]:
%%sql
SELECT DISTINCT play_video_game
FROM my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
3 rows affected.

[('Yes',), ('sometimes',), ('No',)]

## Clean reason_of_play_game column

11. I ran a SQL query to check the distinct values in the 'reason_of_play_game' column of my_table. Then I noticed that most of these values seem to be legitimate reasons for playing games, such as competition, entertainment, creativity, and relaxation. However, there's an unexpected entry: "GTA Vice City", which is actually the name of a video game rather than a reason for playing. This indicates a data quality issue in the 'reason_of_play_game' column. It appears that at least one respondent may have misunderstood the question or there was an error in data entry.

In [ ]:
%%sql
SELECT DISTINCT reason_of_play_game
FROM my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
5 rows affected.

[('competition',),
 ('entertainment',),
 ('GTA Vice City',),
 ('creativity',),
 ('relaxation',)]

12. I ran an SQL DELETE to remove 'GTA Vice City' from my_table's 'reason_of_play_game' column to fix a data issue. This improved data quality for more accurate future analyses. Running it again confirmed no additional rows needed removal.

In [ ]:
%%sql
DELETE FROM my_table
WHERE reason_of_play_game = 'GTA Vice City'

 * mysql+pymysql://linux:***@167.172.79.235/my_database
1 rows affected.

[]

13. I ran the SQL query to check distinct values in the 'reason_of_play_game' column twice, and both times got: competition, entertainment, creativity, and relaxation. This confirms the DELETE operation to remove 'GTA Vice City' was successful and the column is now clean and consistent, ready for accurate analysis.

In [ ]:
%%sql
SELECT DISTINCT reason_of_play_game
FROM my_table

 * mysql+pymysql://linux:***@167.172.79.235/my_database
4 rows affected.

[('competition',), ('entertainment',), ('creativity',), ('relaxation',)]

In this data cleaning process, we examined several columns of our survey dataset. We first inspected the 'student' column, finding it contained only "Yes" and "No" values. We then looked at the 'play_video_game' column, which had three categories: "Yes", "No", and "sometimes". The 'reason_of_play_game' column initially contained an inconsistent entry ("GTA Vice City"), which we removed using a DELETE SQL command. After cleaning, this column contained four distinct reasons for playing games: competition, entertainment, creativity, and relaxation. These steps improved our data's consistency and prepared it for further analysis, ensuring more accurate insights into respondents' gaming habits and motivations.

# Data Analysis

1. To begin my data analysis, I ran a SQL query to get an overview of the survey respondents' demographics. The query revealed a total of 98 respondents with an average age of 23.3 years, the youngest being 21 and the oldest 27. This indicates the survey mainly captured young adults.

In [86]:
%%sql
SELECT 
    COUNT(*) AS total_respondents,
    AVG(Age) AS average_age,
    MIN(Age) AS youngest,
    MAX(Age) AS oldest
FROM my_table;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
1 rows affected.

[(98, Decimal('23.2959'), 21, 27)]

2. The data revealed a significant gender imbalance with 92.86% male respondents and only 7.14% female respondents. This skew raises concerns about representativeness, bias, and limitations in gender-based comparisons. The imbalance may affect data interpretation and generalizability of findings. Further investigation into the causes of this disparity is recommended, considering factors such as the population studied or sampling methods. Future analysis should account for this gender distribution when drawing conclusions.

In [88]:
%%sql
SELECT Gender, COUNT(*) AS count, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM my_table) AS percentage
FROM my_table
GROUP BY Gender;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
2 rows affected.

[('Male', 91, Decimal('92.85714')), ('Female', 7, Decimal('7.14286'))]

3. The data sample consists predominantly of students (90%), with an average age of 23.3 years. This composition limits non-student representation and may introduce bias in responses related to lifestyle and priorities. The findings should be interpreted within a student context, potentially limiting generalizability to the broader population. The sample's characteristics (young, mostly male students) are crucial for further analysis and may necessitate additional data collection if a more balanced representation was intended.

In [91]:
%%sql
SELECT Student, COUNT(*) AS count, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM my_table) AS percentage
FROM my_table
GROUP BY Student;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
2 rows affected.

[('Yes', 88, Decimal('89.79592')), ('No', 10, Decimal('10.20408'))]

4. The data reveals high video game engagement among respondents, with 76.53% playing regularly and 22.45% occasionally. Only 1.02% reported not playing, indicating a strong bias towards gamers. This near-universal gaming involvement (98.98%) significantly influences the study's context and generalizability. The sample predominantly consists of male students in their early 20s who are video game enthusiasts, limiting insights into non-players and broader populations. This bias is crucial for interpreting further analysis and understanding the study's limitations.

In [92]:
%%sql
SELECT Play_Video_Game, COUNT(*) AS count, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM my_table) AS percentage
FROM my_table
GROUP BY Play_Video_Game;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
3 rows affected.

[('Yes', 75, Decimal('76.53061')),
 ('sometimes', 22, Decimal('22.44898')),
 ('No', 1, Decimal('1.02041'))]

5. The data sample is mostly young adults: 85.71% are aged 18-24, and 14.29% are aged 25-34. Both groups show high gaming engagement, with 77.38% and 71.43% being regular gamers, respectively. The slight decrease in gaming frequency with age isn't statistically significant due to the small sample size for 25-34. This aligns with previous findings of a young, student-heavy sample with high gaming interest. The study’s focus on young adults limits its applicability to other age groups.

In [93]:
%%sql
SELECT 
    CASE 
        WHEN Age < 18 THEN 'Under 18'
        WHEN Age BETWEEN 18 AND 24 THEN '18-24'
        WHEN Age BETWEEN 25 AND 34 THEN '25-34'
        WHEN Age BETWEEN 35 AND 44 THEN '35-44'
        ELSE '45+'
    END AS age_group,
    COUNT(*) AS count,
    AVG(CASE WHEN Play_Video_Game = 'Yes' THEN 1 ELSE 0 END) AS gamer_percentage
FROM my_table
GROUP BY age_group
ORDER BY age_group;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
2 rows affected.

[('18-24', 84, Decimal('0.7738')), ('25-34', 14, Decimal('0.7143'))]

6. The dataset reveals diverse gaming preferences among young adult male students. The top 10 games span various genres, with Minecraft leading at 25.5% popularity. Both older and newer titles are represented, indicating nostalgia and current trends. Multiplayer and single-player games are popular, but mobile games are notably absent. These findings provide insights into gaming trends among young adult gamers in academic settings but may not generalize to broader populations due to the sample's specific characteristics.

In [94]:
%%sql
SELECT Favorite_Game, COUNT(*) AS count
FROM my_table
GROUP BY Favorite_Game
ORDER BY count DESC
LIMIT 10;

SELECT Most_Played_Game, COUNT(*) AS count
FROM my_table
GROUP BY Most_Played_Game
ORDER BY count DESC
LIMIT 10;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
10 rows affected.
10 rows affected.

[('Minecraft', 25),
 ('GTA Vice City', 20),
 ('Call of Duty', 16),
 ('pubg', 11),
 ('FIFA 22', 7),
 ('Animal Crossing', 5),
 ('Stardew Valley', 3),
 ('League of Legends', 3),
 ('Apex Legends', 2),
 ('Rocket League', 1)]

7. The data reveals entertainment as the dominant motivation for gaming, cited by 86.73% of respondents. Secondary reasons like relaxation, competition, and creativity are significantly less common. This preference for entertainment aligns with popular game choices and sample characteristics. Despite the prevalence of multiplayer games, competition is not a primary motivator. The findings suggest that young adult gamers in academic settings primarily view gaming as a leisure activity, though the single-choice format may not fully capture the complexity of gaming motivations.

In [95]:
%%sql
SELECT Reason_of_Play_Game, COUNT(*) AS count
FROM my_table
GROUP BY Reason_of_Play_Game
ORDER BY count DESC;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
4 rows affected.

[('entertainment', 85),
 ('relaxation', 5),
 ('competition', 4),
 ('creativity', 4)]

8. The data reveals high gaming engagement across genders, with 100% of female and 98.90% of male respondents playing games. Males are more likely to be regular players (78.02%) compared to females (57.14%), while females are more likely to be occasional players (42.86% vs. 20.88% for males). However, the small female sample size (7 vs. 91 males) limits the reliability of gender comparisons. The overwhelmingly male sample suggests potential bias in survey distribution or response rates. While gender differences in playing frequency are observed, the data primarily reinforces that the sample consists of individuals highly engaged with video games, regardless of gender. Given the sample's characteristics, these findings may not be generalizable to broader populations.

In [96]:
%%sql
-- Gaming habits by gender
SELECT Gender, Play_Video_Game, COUNT(*) AS count
FROM my_table
GROUP BY Gender, Play_Video_Game
ORDER BY Gender, Play_Video_Game;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
5 rows affected.

[('Female', 'sometimes', 3),
 ('Female', 'Yes', 4),
 ('Male', 'No', 1),
 ('Male', 'sometimes', 19),
 ('Male', 'Yes', 71)]

9. SQL query analysis reveals gaming preferences for students and non-students. Non-students favor Minecraft (6 respondents), with Call of Duty, FIFA 22, GTA Vice City, and Stardew Valley tied (1 each). Students show equal preference for GTA Vice City and Minecraft (19 each), followed by Call of Duty (14), PUBG (11), and FIFA 22 (6). Similarities exist (Minecraft's popularity), but differences emerge (GTA Vice City's higher ranking among students). Top 10 results cover all non-student preferences but only top 5 for students, suggesting more diverse student gaming interests.

In [97]:
%%sql
SELECT Student, Favorite_Game, COUNT(*) AS count
FROM my_table
WHERE Student IS NOT NULL
GROUP BY Student, Favorite_Game
ORDER BY Student, count DESC
LIMIT 10;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
10 rows affected.

[('No', 'Minecraft', 6),
 ('No', 'Call of Duty', 1),
 ('No', 'FIFA 22', 1),
 ('No', 'GTA Vice City', 1),
 ('No', 'Stardew Valley', 1),
 ('Yes', 'GTA Vice City', 19),
 ('Yes', 'Minecraft', 19),
 ('Yes', 'Call of Duty', 14),
 ('Yes', 'pubg', 11),
 ('Yes', 'FIFA 22', 6)]

10. The data reveals high video game engagement across both 18-24 and 25-34 age groups. A slight decrease in regular players and the emergence of a non-player in the older group suggest a potential trend towards less intensive gaming with age. However, the small sample size of the 25-34 group (14 vs. 84 in 18-24) limits the reliability of these comparisons. The consistent percentage of occasional players (around 22%) in both groups is noteworthy. The limited age range (18-34) restricts broader conclusions about gaming habits across different life stages.

In [98]:
%%sql
SELECT 
    CASE 
        WHEN Age < 18 THEN 'Under 18'
        WHEN Age BETWEEN 18 AND 24 THEN '18-24'
        WHEN Age BETWEEN 25 AND 34 THEN '25-34'
        WHEN Age BETWEEN 35 AND 44 THEN '35-44'
        ELSE '45+'
    END AS age_group,
    Play_Video_Game,
    COUNT(*) AS count
FROM my_table
GROUP BY age_group, Play_Video_Game
ORDER BY age_group, Play_Video_Game;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
5 rows affected.

[('18-24', 'sometimes', 19),
 ('18-24', 'Yes', 65),
 ('25-34', 'No', 1),
 ('25-34', 'sometimes', 3),
 ('25-34', 'Yes', 10)]

11. The data reveals high video game engagement among both students and non-students, with nearly all respondents playing at least sometimes. Non-students show a slightly higher percentage of regular players (80%) compared to students (76.14%), while occasional play rates are similar (about 22% for both groups). The only non-player is a student. However, the significant sample size disparity (88 students vs. 10 non-students) limits the reliability of these comparisons. Factors like free time, social environment, and age might influence the slight differences observed. Overall, the findings reinforce that the sample primarily consists of regular or occasional gamers, regardless of student status, aligning with previous observations about high gaming engagement in the overall sample.

In [99]:
%%sql
SELECT 
    Student, 
    Play_Video_Game, 
    COUNT(*) AS count,
    COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY Student) AS percentage
FROM my_table
WHERE Student IS NOT NULL
GROUP BY Student, Play_Video_Game
ORDER BY Student, Play_Video_Game;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
5 rows affected.

[('No', 'sometimes', 2, Decimal('20.00000')),
 ('No', 'Yes', 8, Decimal('80.00000')),
 ('Yes', 'No', 1, Decimal('1.13636')),
 ('Yes', 'sometimes', 20, Decimal('22.72727')),
 ('Yes', 'Yes', 67, Decimal('76.13636'))]

12. The survey reveals distinct gaming preferences across age groups. Minecraft dominates the 18-24 category, reflecting its popularity among younger players, while the 25-34 group shows more diverse tastes with FIFA 22 and GTA Vice City tied as favorites. This difference suggests generational preferences and varying gaming histories. However, the analysis is limited by sample size disparities, with the 18-24 group likely much larger, and the restricted age range of 18-34. These findings, while insightful, particularly regarding Minecraft's appeal to young adult gamers, should be interpreted cautiously due to these limitations and the focus on only top favorites.

In [100]:
%%sql
WITH age_groups AS (
    SELECT *,
    CASE 
        WHEN Age < 18 THEN 'Under 18'
        WHEN Age BETWEEN 18 AND 24 THEN '18-24'
        WHEN Age BETWEEN 25 AND 34 THEN '25-34'
        WHEN Age BETWEEN 35 AND 44 THEN '35-44'
        ELSE '45+'
    END AS age_group
    FROM my_table
)
SELECT age_group, Favorite_Game, COUNT(*) AS count
FROM age_groups
GROUP BY age_group, Favorite_Game
HAVING COUNT(*) = (
    SELECT COUNT(*)
    FROM age_groups ag2
    WHERE ag2.age_group = age_groups.age_group
    GROUP BY ag2.age_group, ag2.Favorite_Game
    ORDER BY COUNT(*) DESC
    LIMIT 1
)
ORDER BY age_group;

 * mysql+pymysql://linux:***@167.172.79.235/my_database
3 rows affected.

[('18-24', 'Minecraft', 23),
 ('25-34', 'FIFA 22', 3),
 ('25-34', 'GTA Vice City', 3)]

The survey reveals a sample dominated by young male students (18-24) with exceptionally high gaming engagement (99% play video games). Entertainment is the primary motivation (86.73%), with relaxation, competition, and creativity as secondary factors. While both genders show high engagement, males are more likely to be regular players. A slight decrease in regular players is observed from the 18-24 to 25-34 age group. Minecraft is favored among 18-24 year olds, while FIFA 22 and GTA Vice City are popular in the 25-34 group. The study's main limitations include small sample sizes for females and non-students, and a restricted age range (18-34), limiting generalizability to broader populations.

Based on my analysis, I can suggest several actionable insights that could be valuable for game developers, marketers, and researchers in the gaming industry. Given Minecraft's popularity among the 18-24 age group, I recommend focusing on creating content or spin-offs that appeal to this demographic, possibly even exploring educational applications. For the 25-34 age group, I suggest developing games that blend elements from different genres to cater to their diverse tastes. Since entertainment is the primary motivation for gaming, I advise prioritizing engaging gameplay mechanics, improved storylines, and enhanced graphics. Considering the high percentage of students who game regularly, I propose creating games with flexible play schedules that can be enjoyed in short bursts. To engage occasional players, I recommend investing in mobile and cross-platform gaming options. Although our female sample is small, the data indicates they're more likely to be occasional players, so I suggest investigating ways to make gaming more appealing to this demographic. Given the young, student-heavy audience, incorporating robust social features could increase engagement. While a smaller percentage, there might be an underserved market for relaxation-focused games. Due to limitations in our sample, I strongly recommend conducting more comprehensive studies to capture a broader range of perspectives, especially from female gamers and older age groups. Lastly, with the high percentage of student gamers, I propose exploring educational gaming initiatives that blend entertainment with academic content.

These insights aim to help the gaming industry better serve the community represented in our sample and potentially expand their reach to underrepresented groups.